
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
}

body,html {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 0, 0);
}

#string{
  height: 200px;
  width: 100%;
  /* background-color: #eb7521; */
}

