*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: white;
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: black;
}

#box{
    height: 300px;
    width: 300px;
    background-color: crimson;
}

#box2{
    height: 300px;
    width: 300px;
    background-color: rgb(25, 225, 218);
}

#box3{
    height: 300px;
    width: 300px;
    background-color: rgb(147, 168, 141);
}



#nav{
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
}

#part2{
    display: flex;
    gap: 50px;
}


#h1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 80px;
    white-space: nowrap;
}