
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: gilroy;
  color: white;
}

body,html {
  height: 100%;
  width: 100%;
  background-color: black;
}

#page1 {
  height: 100%;
  width: 100%;
  background-color: rgb(88, 103, 240);
  display: flex;
  align-items: center;
  justify-content: center;
}
#page2 {
  height: 100%;
  width: 100%;
  background-color: rgb(233, 74, 74);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
#page3 {
  height: 100%;
  width: 100%;
  background-color: rgb(8, 246, 230);
  display: flex;
  align-items: center;
  justify-content: center;
}

#box{
    height: 300px;
    width: 300px;
    background-color: #2e0427;
}

h1{
    font-size: 60px;
    position: relative;
    background-color: yellow;
    padding: 10px;
}

h2{
    font-size: 60px;
    position: relative;
    background-color: rgb(227, 24, 24);
}